Addhandler application/x-httpd-php .php5
RewriteEngine On
RewriteRule  ^\.htaccess$ - [F]
RewriteRule  ^sitemap\.xml$ sitemap.php5
RewriteRule  ^sitemap_geo\.xml$ sitemap_geo.php5
RewriteRule  ^sitemap_lit\.xml$ sitemap_lit.php5
RewriteRule  ^(.+)\.html$ $1.php5
DirectoryIndex index.php5